/* ************* */
/* Header Starts */
/* ************* */



.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-light);
  height: 100vh;
}

.loading img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.loading-bar {
  width: 30%;
  max-width: 200px;
  text-align: center;
  background: var(--bg-dark);
  height: 5px;
  margin-top: 30px;
  border-radius: 10px;
}

.loading-bar-1 {
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;

  animation: loading_animation 3s;
}

@keyframes loading_animation {
  0% {
      width: 0%;
  }

  100% {
      width: 90%;
  }
}


/* ************* */
/* Navbar Starts */
/* ************* */

nav {
  position: fixed;
  top: 0;
  left: 0;
  /* bottom: 0; */
  padding: 16px 0;
  width: 100px;
  height: 100%;
  background: var(--bg-light);
  transition: 0.3s ease;
  z-index: 99;
}

nav .head_left_toggle i {
  padding: 12px;
  border-radius: 50%;
  transition: 0.3s ease;
}

nav .head_left_toggle i:hover {
  background: var(--bg-hover);
}

.navbar {
  position: fixed;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
  transition: 0.3s ease;
}


.navbar hr {
  border: 0;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  display: none;
}

.navbar_logo {
  display: flex;
  padding: 2px 20px;
  align-items: center;
  transform: translateY(-10px);
  opacity: 0;
}

.navbar .navbar_item i {
  /* margin-right: 24px; */
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.navbar .navbar-1,
.navbar .navbar-2,
.navbar .navbar-3,
.navbar .navbar-4,
.navbar .navbar-5 {
  display: flex;
  flex-direction: column;
}

.navbar .navbar-2 {
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

.navbar .navbar-2 .navbar_login-heading {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.navbar .navbar-2 .navbar_login {
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 10px;
  transition: 0.3s ease;
}

.navbar .navbar-2 .navbar_login:hover {
  background-color: var(--secondary-color);
}

.navbar .navbar-5 {
  padding-bottom: 50px;
}

.navbar .navbar_heading {
  font-size: 16px;
  margin: 4px 15px;
  height: 400px;
}

.navbar .navbar_item {
  padding: 12px 16px;
  font-weight: 500;
  font-size: 14px;
  margin: 2px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.navbar .navbar_item-title {
  font-size: 12px;
  text-align: center;
  transition: 0.3s ease;
}

.navbar .navbar_item:hover {
  background: var(--bg-hover);
}


.navbar .navbar-2,
.navbar .navbar-3,
.navbar .navbar-4,
.navbar .navbar-5 {
  display: none;
}

.navbar-toggle {
  width: 275px;
  display: flex;
  align-items: flex-start;
  background: var(--bg-light);
  color: var(--font-dark);
  overflow-y: scroll;
  transition: 0.3s ease;
}

.navbar-toggle::-webkit-scrollbar{
  width: 5px;
}

.navbar-toggle::-webkit-scrollbar-track{
  background: transparent;
}

.navbar-toggle::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.095);
  border-radius: 10px;
  transition: 0.3s;
}
.navbar-toggle::-webkit-scrollbar-thumb:hover{
  background: rgba(255, 255, 255, 0.341);
}

.navbar-toggle hr {
  display: inherit;
}

.navbar-toggle .navbar-2,
.navbar-toggle .navbar-3,
.navbar-toggle .navbar-4,
.navbar-toggle .navbar-5 {
  display: inherit;
}

.navbar-toggle .navbar_item {
  flex-direction: row;
  width: 210px;
  transition: 0.3s;
}

.navbar-toggle .navbar_item-title {
  font-size: 14px;
  text-align: start;
}

.navbar-toggle .navbar_item i {
  margin-right: 40px;
}


.nav_bottom {
  position: fixed;
  bottom: -100%;
  left: 0;
  background: var(--bg-ambient);
  width: 100%;
  z-index: 999;
  height: 56px;
  transition: 0.3s ease-out;
  backdrop-filter: blur(30px);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: 100%;
}

.nav .nav_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px 16px;
  margin: 2px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.nav .nav_item i {
  height: 16px;
}

.nav .nav_item-title {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  max-height: 16px;
  overflow: hidden;
}

/* ************ */
/* Main Content */
/* ************ */


.main_content {
  margin-left: 256px;
  margin-top: 56px;
  padding: 20px;
  transition: 0.3s ease;
}

.main_content_margin {
  margin-left: 100px;
}

.main_content_category {
  display: flex;
  align-items: center;
  justify-items: space-between;
  overflow: scroll;
  margin: 25px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main_content_category::-webkit-scrollbar {
  display: none;
}

.main_content-category {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  background-color: var(--bg-active);
  margin: 0 10px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.navbar .active {
  background: var(--bg-hover);
}

.navbar .active i {
  font-weight: bolder;
}

.main_content-category:hover {
  background-color: var(--bg-hover);
}

.main_content_article-popular,
.main_content_article-latest,
.main_content_article-editor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  grid-gap: 1rem;
  padding: 25px;
}

.main_content_article-heading {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0 35px;
}

.main_content_article-heading i {
  width: 30px;
}


.main_content .main_content_article-post {
  display: flex;
  flex-direction: column;
  max-width: 423px;
  padding: 10px;
  transition: 1s ease;
  border-radius: 10px;
}

.main_content .main_content_article-post:hover {
  /* transform: scale(1.05); */
  background: var(--bg-light);
}

.main_content_article-post .img-fluid {
  width: calc(100% -10px);
  border-radius: 12px;
  aspect-ratio: 2 / 1;
}

.main_content_article-post .post_content {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  /* height: 100px; */
}

.main_content_article-post .post_left {
  width: 15%;
}

.main_content_article-post .post_author-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.main_content_article-post .post_right {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 85%;
}

.main_content_article-post .post_right .post_title {
  font-size: 14px;
  margin: 5px 0;
  min-height: 39px;
  max-height: 39px;
  overflow: hidden;
}

.main_content_article-post .post_right .post_author-name,
.main_content_article-post .post_right .post_details {
  margin: 5px 0;
  color: var(--font-faded);
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.main_content_article-post .post_right .post_author-name {
  width: fit-content;
  padding: 5px 10px;
  background: var(--bg-active);
  color: var(--font-dark);
  border-radius: 6px;
  margin: 0;
  transition: 0.3s ease;
}

.main_content_article-post .post_right .post_details {
  margin-left: 5px;
}

.main_content_article-post .post_details i {
  margin: 0 5px;
  font-size: 6px;
}

/* *********** */
/* Media Query */
/* *********** */

@media (max-width: 700px) {
  .head .head_center {
      display: none;
  }
}

@media (max-width: 638px) {
  .navbar {
      left: -100%;
  }

  nav {
      display: none;
  }

  .navbar_logo {
      transform: translateY(0);
  }

  .head_left_toggle {
      display: none;
  }

  .nav_bottom {
      bottom: 0;
  }

  .main_content {
      margin: 60px auto;
  }

  .main_content_article-post .post_right .post_auth_date {
      display: flex;
  }

  .main_content_article-post .post_right .post_author-name {
      margin-right: 10px;
  }
}

@media (max-width: 450px) {

  .main_content_article-post .post_right .post_auth_date {
      align-items: flex-start;
      flex-direction: column;
  }

  .main_content .main_content_article-post {
      background: #ffffff0f;
  }
}